*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

.page-wrapper{
  height: 100vh;
}

.green-bar{
  height: 13%;
  background-color: #009688;
}

.grey-bar{
  height: 87%;
  background-color: #dbdbd2;
}

.background{
  position: relative;
  height: 100vh;
}

main{
  position: absolute;
  display: flex;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.31);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.31);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: calc(100% - 5%);
}

.left-div{
  width: 35%;
  background-color: red;
  height: 100%;
  border-right: 1px solid #d6d6d6;
}
.right-div{
  width: 65%;
  background-color: white;
  height: 100%
}


header{
  background-color: #eaeaea;
  height: 60px;
  width: 100%;
}

#notifiche{
  background-color: #8edafc;
  height: 110px;
  width: 100%;
}

#search{
  display: flex;
  height: 65px;
  width: 100%;
  background-color: #eaeaea;
  border-bottom: 1px solid #d6d6d6;
}

.ricerca{
  margin: auto;
  background-color: white;
  width: 95%;
  height: 45px;
  border-radius: 100px;
}


.rubrica{
  overflow-y: auto;
  background-color: white;
  height: calc(100% - 235px );
}

.contatto{
  width: 100%;
  height: 90px;
  background-color: lightblue;
}

.container-chat{
  width: 100%;
  height: calc(100% - 160px);
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
}

#user-input{
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #eaeaea;
}
