*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper{
  height: 100vh;
}

.green-bar{
  height: 10%;
  background-color: #009688;
}

.grey-bar{
  height: 90%;
  background-color: #dbdbd2;
}

.background{
  position: relative;
  height: 100vh;
}

main{
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: calc(100% - 5%);
}
